.titlebar {
    border-bottom: 8px #B20C1B solid;
    margin-bottom: 10px;
}

.titlebar figure {
    margin-bottom: 10px;
}

/* Minor changes to bootstrap styling */
.nav > li > a {
    border: 1px solid white;
    border-radius: 4px;
    background-color: #B20C1B;
    color: white;
    font-weight: bold;
}

/* Minor changes to bootstrap styling */
.nav > li > a:hover {
    background-color: #ef1024;
    color: black;
}

.footer-container {
    border-radius: 4px;
    background-color: #B20C1B;
    padding: 20px;
    color: white;
    font-weight: bold;
    height: 100%;
}

.align-right {
    text-align: right;
}

.centre {
    margin: 10px auto 0 auto;
    display: block;
}

/* Gallery/image styling <-- Start --> */
.gallery-section {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    height: 341px;
}

.gallery-section form {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 5px;
}

.gallery-section button {
    width: 100%;
}

figure {
    display: table;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
}

.fig-thumb {
    padding: 0 5px;
}

.fig-thumb img {
    width: 152px;
}

.big-image {
    margin: 0 auto 15px auto;
}
/* <-- Finish --> */

.filters label {
    text-align: center;
}

/* Minor changes to bootstrap style for hover */
.list-group a:hover, .list-group button:hover {
    color: black;
    font-weight: bold;
}

/* Minor change to bootstrap style */
h5 {
    font-weight: bold;
}

/* Minor change to bootstrap style */
.glyphicon-asterisk {
  color: red;
}

/* Give the same padding as the form */
.signin-body {
    padding: 0 15px 0 15px;
}

/* For use by error/success messages. First fade, then disappear. <--Start--> */
.fade {
    opacity: 1;
    -moz-animation: fadeAnimation 9s ease-in 0s forwards, disappearAnimation 0s ease-out 7s forwards;
    /* Firefox */
    -webkit-animation: fadeAnimation 9s ease-in 0s forwards, disappearAnimation 0s ease-out 7s forwards;
    /* Safari and Chrome */
    -o-animation: fadeAnimation 9s ease-in 0s forwards, disappearAnimation 0s ease-out 7s forwards;
    /* Opera */
    animation: fadeAnimation 9s ease-in 0s forwards, disappearAnimation 0s ease-out 7s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes disappearAnimation {
    to {
        width:0;
        height:0;
        padding:0;
        overflow:hidden;
    }
}
@-webkit-keyframes disappearAnimation {
    to {
        width:0;
        height:0;
        padding:0;
        visibility:hidden;
    }
}

@keyframes fadeAnimation {
    to {
        opacity:0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes fadeAnimation {
    to {
        opacity:0;
    }
}
/* <-- Finish --> */